@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

h1 {
  align-content: center;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
.gameboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: auto;
  justify-content: center;
  width: 8cm;
  height: 8cm;
}

#topleft, #topmiddle, #topright,
#middleleft, #middle, #middleright,
#bottomleft, #bottommiddle, #bottomright {
  width: 30%;
  height: 30%;
  background-color: white;
  font-family: 'Shizuru', cursive;
  font-size: 1.5cm;
  border-style: dotted;
} 

.scoreboard {
  align-items: center;
  text-align: center;
  font-size: 0.5cm;
  font-family: 'Shadows Into Light', cursive;
}

div2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: auto;
  justify-content: center;
  width: 5cm;
  text-align: center;
  padding-left: 1cm;
}

.announceWinner {
  align-items: center;
  text-align: center;
  font-size: 0.5cm;
  font-family: 'Shadows Into Light', cursive;
}

#nextRoundButton {
  font-family: 'Shadows Into Light', cursive;
  background-color: white;
  border-style: hidden;
  margin: auto;
  justify-content: center;
  font-size: 1cm;
}